{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<h1>Meet Your Event Fairies</h1>

<div class="container home-container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam ex voluptatem ipsum odit laboriosam hic deleniti itaque, exercitationem nesciunt minus numquam assumenda? Voluptatem architecto, nihil corporis sed autem perferendis reiciendis iure atque ut molestias. Doloribus ad optio, non maiores, similique cupiditate molestias vero incidunt, pariatur aspernatur ratione explicabo. Perspiciatis vel dolorem sequi repellendus iusto culpa in voluptatum accusantium facere amet ullam qui placeat pariatur quas dolorum reprehenderit id, et quaerat aliquam unde dolores porro ea?
        </div>
        <div class="col-xs-6 col-md-4 img-container">
            <img class='about-img' src="{% static '/images/lihn.jpeg' %}" alt="lihn">
        </div>
    </div>
</div>

<div class="container home-container">
    <div class="row">

        <div class="col-xs-6 col-md-4 img-container">
            <img class='about-img' src="{% static 'images/karra.jpeg' %}" alt="karra">
        </div>

        <div class="col-xs-6 col-md-8">
            Karra Batcheller is an unassuming single mom by day and a fairy by night.  Oftentimes that fairy is the toothfairy, but she likes to believe that the job is as full of magic as her children believe.  She strives to bring the magic of children into the wider world, allowing jaded adults everywhere to rediscover their magic.
        </div>

    </div>
</div>

<div class="container home-container">
    <div class="row">

        <div class="col-xs-6 col-md-8">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis sunt quaerat commodi corrupti consequatur expedita ducimus, libero ab id quibusdam dolorum voluptates similique impedit. Saepe in asperiores deleniti nulla nihil tenetur dolor laborum, at, voluptas facere assumenda?
        </div>

        <div class="col-xs-6 col-md-4 img-container">
            <img class='about-img' src="{% static 'images/daniel.jpeg' %}" alt="daniel">
        </div>  

    </div>
</div>





{% endblock %}