{% extends 'base.html' %}

{% block content %}
    <h1 class="animated bounceIn">Add a Contact</h1>
    <h3 class="contact-h3">Type in a username to add them as a new contact.</h3>
    <section class="form-section contact-form">
        <form action="{% url 'contact_add' %}" method="POST" class="add-contact-form">
            {% csrf_token %}
            <p>
                <label for="user2">Find a user</label>
                <input type="text" name="user2" maxlength="25" required>
            </p>
            {% if error %}
                <p>{{ error }}</p>
            {% endif %}
            <button type="submit" class="btn btn-success">Add Contact</button>
        </form>
    </section>
{% endblock %}