{% extends 'base.html' %}

{% block content %}
    {% if event %}
        {% if event.creator == user %}
            <section class="form-section">
                <h1>{{header}}</h1>
                <form method="POST" class="event-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Submit</button>
                </form>
            </section>
        {% else %}
            <h3>Error: You can only edit events you've created.</h3>
        {% endif %}

    {% else %}
        <section class="form-section">
            <h1>{{header}}</h1>
            <form method="POST" class="event-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>
        </section>
    {% endif %}

{% endblock %}