{% extends 'base.html' %}

{% block content %}

    <h1 class="landing-h1">Welcome to The Event Fairy</h1>
    <p class="app-description">Bring magic to all of your event planning!</p>

    <div class="container landing-container">
        <div class="row">
            <div class="col-md">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quo culpa beatae sed dolorem perferendis praesentium reprehenderit odio non vero minus sunt, itaque, aliquam natus at nihil necessitatibus provident. Incidunt ea odio nemo consequuntur omnis! Ullam nostrum in nobis repellat modi, sed praesentium maxime exercitationem delectus, illum harum quos! Molestias nulla, explicabo magni distinctio voluptate dolorum maxime assumenda cupiditate reprehenderit, consequuntur veritatis id atque sequi! Fuga nihil accusantium quod corporis eveniet molestias unde deleniti voluptatum eum quibusdam distinctio vitae quaerat totam harum voluptatem veritatis eos fugit, temporibus eius natus.</p>
            </div>
            <div class="col-md">
                <img src="https://images.unsplash.com/photo-1559951407-5195d454e11b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80" alt="mushroom">
            </div>
        </div>
    </div>

    <div class="cta">
        <p>Ready to start creating events? Register now to get started!</p>
        <a href="{% url 'register' %}"><button type="button" class="btn btn-danger">Register</button></a>
    </div>

{% endblock %}