{% extends 'base.html' %}

{% block content %}
    <h1>Welcome, {{ username }}</h1>

    {% if prof_pic_link %}
        <section class="prof-pic-section">
            <img src="{{ prof_pic_link }}" alt="profile picture">
            <a href="{% url 'prof_pic_edit' %}"><button class="edit-prof-pic">Change</button></a>
        </section>
    {% else %}
        <section class="prof-pic-section" data-prof-edit="{% url 'prof_pic_edit' %}">
            <p>Upload a profile picture</p>
            <form method="post" class="profile-pic-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Save</button>
            </form>
        </section>
    {% endif %}

    <h2>Contacts</h2>
        <a href="{% url 'contact_add' %}">+</a>
        <ul class="list-group">
            {% for contact in contacts %}
                <li class="list-group-item">{{ contact }}
                    <a href="{% url 'contact_delete' contact_pk=contact.pk %}">Remove</a>
                </li>
            {% endfor %}
        </ul>
        
    <h2>Your Events</h2>
        {% if created_events %}
            {% for event in created_events %}
                <div class="list-group">
                    <a href="{% url 'event_detail' event_pk=event.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ event.title }}</h5>
                            <small>Click to view details</small>
                        </div>
                        <p class="mb-1">{{ event.date_and_time }}</p>
                        <p class="mb-1">{{ event.location }}</p>
                        <small>Hosted by {{ event.creator }}</small>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <p>You have not created any events. <a href="{% url 'event_create' %}">Create one now!</a></p> 
        {% endif %}

    <h2>Events You're Attending</h2>
        {% if going_events %}
            {% for event in going_events %}
            <div class="list-group">
                <a href="{% url 'event_detail' event_pk=event.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ event.title }}</h5>
                        <small>Click to view details</small>
                    </div>
                    <p class="mb-1">{{ event.date_and_time }}</p>
                    <p class="mb-1">{{ event.location }}</p>
                    <small>Hosted by {{ event.creator }}</small>
                </a>
            </div>
            {% endfor %}
        {% else %}
            <p>You have not confirmed your attendance for any events. View <a href="{% url 'private_list' %}">Events You're Invited To</a> and click Going to let the host know!</p>
        {% endif %}

{% endblock %}