/* ----------------- Base ----------------- */

:root {
    --forest-green: #203E10;
    --olive-green: #516C2C;
    --pale-green: #fcfffb;
    --crimson: #D61B28;
    --tan: #eadaba;
    --brown: #421813;
    --text-primary: #152d08;
    --text-sub: #777;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width:100%;
    background-color: #203E10;
}

#navbarSupportedContent {
    flex-grow: 0;
    margin-left: auto;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
}

body {
    background-color: var(--pale-green);
    height: 100%;
}

main {
    padding: 5%;
    margin: 15px 0 50px 0;
}

h1 {
    color: var(--text-primary);
    text-align: center;
    font-family: 'Pacifico', cursive;
}

.footer {
    position: fixed;
    clear: both;
    width: 100%;
    background-color: #203E10;
    text-align: center;
    font-size: 16px;
    font-family: 'Pacifico', cursive;
    height: 50px;
    margin-top: auto;
}

/* ----------------- Landing ----------------- */

.app-description {
    color: var(--text-primary);
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
}

img {
    width: 100%;
}

.cta {
    text-align: center;
    margin-top: 50px;
}

/*----------------- Login ----------------*/

.login-form {
    color: var(--text-primary);
    text-align: center;
    padding: 50px;
}

/*------------------ Home --------------------*/

.home-container {
    width: 100%;
    height: 100%;
    padding-top: 50px;
}

.home-nav{
    display:flex;
    flex-direction: row;
}

.home-nav-item{
    width:50%;
    border:1px solid lightgray;
    margin:5px;
    background-color: var(--tan);
    box-shadow: 3px 11px 20px -4px rgba(0,0,0,0.24);
}
.home-nav-item a {
    text-align: center;
}

.home-nav-item p {
    margin:3px;
}

.home-create-btn {
    text-align: center;
    border: 5px;
    box-shadow: 3px 11px 20px -4px rgba(0,0,0,0.24);
}

/*------------------ About --------------------*/

.about-img{
    width:200px;
    height:200px;
    border-radius: 50%;
}

.img-container {
    text-align: center;
}

/*------------------ Profile --------------------*/

.btn-success {
    background-color: var(--forest-green);
    border-color: var(--forest-green);
}

.prof-pic-btn {
    padding-left: 80%;
}

.prof-pic-btn-change {
    margin-top: 10px;
}

.prof-pic-section {
    text-align: center;
}

.prof-pic-section img {
    max-width: 400px;
    border-radius: 30px;
}

.profile-section {
    border: 2px solid var(--olive-green);
    padding: 30px;
    margin: 20px 10px;
    -webkit-box-shadow: 4px 4px 25px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 25px -8px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 25px -8px rgba(0,0,0,0.75);
    border-radius: 20px;
};

#id_image_link {
    width: 100%;
}

.profile-section-header {
    display: inline;
    margin: 0 0 10px 10px;
}

.fa-plus {
    color: var(--forest-green);
}

.contacts a {
    text-decoration: none;
    color: var(--text-primary);
}

.contacts a:hover {
    color: var(--olive-green);
}

.add-contact {
    text-align: right;
}

.contact-remove {
    text-align: right;
}

.create-event {
    text-align: right;
    width: 30%;
}

.list-group {
    margin-top: 15px;
}

.fa-plus:hover {
    color: var(--olive-green);
}

/* ----------------- Events ----------------- */

.events-nav a {
    text-decoration: none;
    color: var(--text-primary);
}

.events-nav a:hover {
    color: var(--olive-green);
}

.events-nav-item {
    width: 100px;
}

.event-btns {
    text-align: center;
}

.event-btns a {
    margin: 0 10px;
}

.mb-3 {
    border: 1px solid var(--forest-green);
    margin: 0 auto;
}

.event-list-section {
    max-width: 80%;
    margin: 0 auto;
}

/*-------------------Add Contact--------------*/

.contact-form {
    color: var(--text-primary);
    text-align: center;
    padding: 50px;
}

.contact-h3 {
    text-align: center;
}

/*--------------Event Create Form--------------*/

.event-create-form {
    color: var(--text-primary);
    text-align: center;
}

/*------------------ Responsiveness --------------------*/

@media (max-width: 992px) {
    main {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    main {
        margin-top: 50px;
    }

    .home-nav {
        flex-direction: column;
    }

    .home-nav-item{
        width:100% !important;
    }

    main{
        height: 100%;
    }
}