nav{
    width:100%;
    background-color: #203E10;
}

header {
    font-family: 'Pacifico', cursive;
}

h1 {
    font-family: 'Pacifico', cursive;
}

body {
    background-color: #516C2C;
    font-family: 'Pacifico', cursive;
}


.list-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}


.side-nav{
    display: flex;
    flex-direction: column;

}

.app-description {
    text-decoration-color: #421813;
    text-align: center;
    font-family: 'Pacifico', cursive;
}






.list-group{
    width:75%;
}